<!--
<p>We know all women who wear Tadashi Shoji are filled with joie de vivre. From weddings to parties to nights out, you enchant life with your style and spirit. We’ve heard rumors of greatness, including the win-at-all-cost bouquet-catchers, the (cat)walk-off competition victors, and the first-time singers of mic-dropping karaoke solos.  And now, we want you to show us!</p>
 
<p>We’re searching  for videos that capture how you live in the moment while wearing Tadashi Shoji. Show us the memorable. Show us the unexpected. Show us the unrepeatable. Share your “Living the Moment” video and you could win a $1500 Tadashi Shoji shopping spree.</p>
-->

<!-- <h3>TO BEGIN THE SUBMISSION PROCESS, SIGN UP BELOW</h3>	-->

<h1>New User</h1>


<%= render 'form', user: @user %>

<!-- <%= link_to 'Back', users_path %> -->
