@font-face{
  font-family: 'simhei_1';
  src:asset-url('SimHei.ttf') format('truetype')
}
@font-face{
  font-family: 'simsun_1';
  src:asset-url('SIMSUN.ttf') format('truetype')
}
$break-small: 320px;
$break-large: 1024px;
html,body{
  margin:0;height:100%;overflow: hidden;overflow-y:auto;
}
.hamburger-menu {
    display: none;    
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1;
}

.mobile-nav {
    display: none;
    position: fixed;
    background-color: white;
    width:200px;
    height:100%;
    right:0;
    top:0;
    z-index: 1;
    opacity: .95;

    ul {
        
        margin: 0;
        padding: 25px;
        
        li {
            list-style-type: none;
            margin-bottom: 10px;
            
            a {
                color: black;
                text-decoration: none;
                font-weight:600;
                font-size: 24px;
                text-transform : uppercase;
            }
        }
    }
}
@media only screen and (max-width: 500px) {
  main{
    #content .container{
      form {

        .field {
          clear: both;
          width: -webkit-fill-available !important;
          input {
            width: 100% !important;
          }
        }
      }
    }
  }


}



@media only screen and (max-width: 616px) {
  body #hero .container .hero-text {
    /*font-size: 2em !important;*/
  }
  main #content .container {
    .official-rules, .video-requirements {
      h1 {
        font-size: 1em !important;
      }
      h2 {
        font-size: 0.8em !important;
      }
    }
  } 

}

@media only screen and (max-width: 695px) {
  main #content .container {
    .official-rules, .video-requirements {
      h1 {
        font-size: 1.5em !important;
      }
      h2 {
        font-size: 0.8em !important;
      }
    }
  }
}

@media only screen and (max-width: 765px) {
  body #hero .container .hero-text {
    font-size: 2em !important;
  }
}



/* Tablet Styles */
@media only screen and (max-width: $break-large) {
    
    .mobile-nav {
        display: block;
    }
    header  {
        
        
        .main-nav {
            display: none;    
        }
        
        .right-nav {
            display: none;
        }
        
        .hamburger-menu {
            display:block;
            
            img {
                display: block;
              width:48px;height:48px;
            }
        }
    }
    
    footer {
        
        .footer-nav {
            display:none;
        }
    }

    .official-rules, .video-requirements {
      padding: 0 40px;
    }
    main #content .container {

      .official-rules, .video-requirements {
        p {
          font-size: 0.8em !important;
        }
        h1 {
          font-size: 1.5em;
        }
        h2 {
          font-size: 1.15em;
        }
      }
    }
  
}

/* default full screen */
@media only screen and (min-width: 1025px) {
  main #content .container {

    .official-rules, .video-requirements {

      p {
        font-size: initial !important;
      }

      h1 {
        font-size: 2.5em;
      }
      h2 {
        font-size: 1.25em;
      }
    }
  }
}

/* MAIN SECTION */

main {
    position: relative;
    left: 0px;
    transition: all 0.2s ease-in-out;
    background-size: cover; 
    max-width:980px;
    margin:0 auto;
    min-height:100%;
    &.active {
         left: -200px;   
    }
    #content .container{

      .official-rules, .video-requirements {
        h2, p {
          text-align: left;
          padding-left: 0;
        }
        p {
          /*font-size: initial !important;*/

          span {
            font-weight: bold;
          }
        }
        a {
          font-size: initial;
          font-weight: bolder;
          margin: 0;
        }
      }
      
      .microposts-list {
        text-align:left;
      }
      
      div.pagination {
        
        display: flex;
        justify-content: center;
        
        ul.pagination {
          list-style: none;
          
          li {
            float:left;
          }
        }
      }
      
      .new_micropost {
        textarea {
          width: 50%;
          height: 10em;
        }
      }
      
      .login {
        form {
          display: inline-block;
          font-family: Futura !important;  
          /*flex-direction: column;*/
            .field {
              /*margin: 0 auto;*/
              a {
                margin: 0;
                font-size: 0.5em;
                font-weight: lighter;                
              }
              span {
                width: 100%;
                font-size: .75em;
              }
            }
        }
        p {
          text-align: center;
        }  
      }
      
      .contact {
        form {
          /*display: flex;*/
          flex-direction: column;
          justify-content: center;
          
            .field {
              /*margin: 0 auto;*/
              
              textarea {
                /*width: 100%;
                height: 10em;*/
                width: 93%;
                height: 20em;
                background: none;
                padding: 20px 30px;
                font-size: 1em;
              }
            }

            .field.message {
              width: 86%;
            }
            
            .actions {
              margin: 10px auto;
              
              input {
                /*width: 100%;*/
              }
            }
        }
      }
      .signupnow{
        text-align: center;
        font-size: 24px;
        a{
          display: inline-block; margin:0;
        }
      }
      p{
        font-size: 1.6em;
        text-align: left;
        font-family: "Helvetica Neue";
        font-weight: lighter;
        text-align: center;
        line-height: 2em;
        padding: 0 39px;

      }
      h1{
        /*font-weight: 700;text-transform : uppercase;font-size: 30px;*/
        font-weight: 700;
        text-transform: uppercase;
        /*font-size: 2.5em;*/
        text-transform: uppercase;
        /* font-size: 20px; */
        font-weight: bold;
        font-family: "Futura";
      }
      h2{
      /*  text-transform : uppercase;font-size: 20px;  */
      text-transform: uppercase;
      /*font-size: 20px;*/
      font-weight: bold;
      font-family: "Futura";

        span {
          font-size: 1.5em;
        }
      }
      .home {
        .home-msg {
          p {
            text-align:center;
          }
        }
        .home_btn {
          /*padding: 15px 0;font-size: 22px;*/
          padding: 15px 0;
          font-size: 22px;
          font-family: "Futura";
          a{
            font-weight: bolder;font-size: 28px;
          }
        }
      }
      .alert-info{background: #f5e945; padding:10px; MARGIN-BOTTOM:2EM; font-size:2em}
      .alert-danger{background: #ebc0ca; padding:10px; MARGIN-BOTTOM:2EM; font-size:2em}
      .alert-success{background: #17eb57; padding:10px; MARGIN-BOTTOM:2EM; font-size:2em}
      letter-spacing:2px;
      a{
        color: #222;
        text-decoration: none;
        border-bottom: 1px solid #222;
        margin:0 1em;
        padding-bottom: 3px;text-transform : uppercase;font-size: 24px;
      }
      form{
        font-weight: 100;margin-top: 2em;font-family: simhei_1!important;letter-spacing:1px;font-size: 24px;
        #password_reset_email{
          width:30%;font-size: 24px;line-height: 2em;background: none;
          border: 1px solid #656262;text-align: center;color:#555;margin:0 .5em;
        }
        .forgotsub{
          font-size: 24px;line-height: 2em;background: #555;
          border: 1px solid #555;text-align: center;color:#fff; font-weight: 100;padding:0 1em;
        }
        #error_explanation{
          font-size:18px;
          background: #ebc0ca;
          padding:0 1em 1em;
          text-align: left;
          margin-bottom: 2em;
          ul{
            margin:0 2em;
          }
        }
        .field{
          /*float:left; width:36%; margin:0em 7% 2em;text-align: left;*/
          float:left; 
          width:36%; 
          margin:0em 7% 2em;
          text-align: center;          
          .checkbox.inline input{
            display: inline;width:auto;
          }
          label.checkbox.inline{
            display: block!important;color: #757575;
          }
          label{
            width:100%;
            /*text-align: left;*/
            line-height: 1.8em;
            text-transform : uppercase;
          }

          input{
            width:100%;font-size: 22px;line-height: 2.4em;background: none;
            border: 1px solid #656262;text-align: center;color:#222;text-transform : uppercase;
          }
          input::-webkit-input-placeholder{
            color: #656262;
          }
          .forgotbtn{
            text-align: center;line-height: 2em;
            a{ margin:0;
            color: #656262;
              border-color:#656262;
            }
          }
        }
        .actions{
          clear: both;
          input{
            /*width:40%;font-size: 22px;line-height: 2.4em;background: #171717;text-align: center;color:#fff;border:none;margin-bottom: 2em;*/
            width: 40%;
            font-size: 1.2em;
            line-height: 2.4em;
            background: #171717;
            text-align: center;
            color: #fff;
            border: none;
            margin-bottom: 2em;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-weight: lighter;
          }
          a {
            display: block;
            width: fit-content;
            margin: 0 auto;
            font-family: "Helvetica Neue";
            font-size: 0.8em;
            letter-spacing: 0.1em;
          }
        }
      }
    }
}


/* END MAIN SECTION */

body {
    /*font-family: 'simhei_1',Helvetica, Arial, sans-serif !important;*/
    font-family: 'Saira Extra Condensed',Helvetica, Arial, sans-serif !important;
    background: asset-url("bg.png");
    background-size: cover;


    .container {

        margin: 0 auto;
        text-align:center;overflow: hidden;
    }
    
    header {
        width: 100%;
        height: 70px;
        font-family: Futura;
        .logo {
            display:block;
            text-align:center;
            padding: 30px 0;
        }
        
        .main-nav, .right-nav {
            
            height: 70px;
            float: left;
            margin: 0;
            padding: 0px 15px;
            line-height: 70px;
    
            li {
                list-style-type: none;    
                display: inline-block;
                
                a {
                    text-decoration: none;
                    font-weight:bolder;
                    /*font-size: 24px;*/
                    padding: 0px 15px;
                    color:#000;
                  text-transform : uppercase;
                  letter-spacing: 3px;
                  border-right: 1px solid #111;
                }
            }
            li:last-child{
              a{
                border:none;
              }
            }
            
        }
        
        .right-nav {
            float: right;
        }
    }
    
    
    #hero {
        width: 100%;
      clear: both;
        .container{
          .hero-text{
            /*font-size:50px; font-family: simhei_1!important;padding:1em 0; letter-spacing: 6px;text-transform : uppercase;*/
            text-transform: uppercase;
            font-size: 4em;
            /* font-family: simhei_1 !important; */
            padding: 1em 0 .5em;
            letter-spacing: 10px;
            text-transform: uppercase;
            h1{
              margin: 0;
              text-shadow: 1px 1px white;
              line-height: 0.5em;
              margin-top: 0.5em;
              span{
                letter-spacing: 1px;
              }
            }
            h2:before, h2:after {
                content: "";
                position: absolute;
                height: 5px;
                border-top: 1px solid white;
                top: 0.8em;
                width:600px;
            }
            h2:before {
              right: 100%;
              margin-right: 15px;
            }
            h2:after {
              left: 100%;
              margin-left: 15px;
            }

            h2{
              /*font-size: .8em;margin:0;color:#fff;text-align: center;display:inline-block;position:relative;*/
              font-size: .8em;
              margin:0;
              /*  color:#222; */
              color: white;
              /*  display: flex; */
              align-items: center;
              display: inline-block;
              letter-spacing: 0.1em;
              position: relative;
              span{
                display: inline-block; flex: 1; border-bottom: 1px solid #ccc;height: 0;vertical-align: middle;
              }
              b{margin:0 .6em}
            }
          }
        }
    }
    
    footer {
        
        .footer-nav {
            text-align: center;
            padding: 0;
            
            li {
                list-style-type: none;    
                display: inline-block;
                
                a {
                    text-decoration: none;
                }
            }
        }
    }

}
p.submission-begin {
  font-size: 1.1em !important;
  margin-top: 2em;

}
.field.remember {
  width: 100% !important;
  display: block;
  margin: 0px auto !important;
}