<footer>
    <nav>
        <!-- remove fooder use as placeholder 
        <ul class="footer-nav">
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
        </ul>
        -->
    </nav>
</footer>